.upperpart{
    margin: 20px 0;
    background-color: rgb(224, 223, 223);
    border: 1px solid;
}
.d-block{
    height: 30em;   
    margin: 0;
}
.show{
    max-width: 375px;
}
.cards{
    background-color: rgb(224, 223, 223);
    border: 1px solid black;
    padding: 10px 20px;
}
.col-sm{
    border: 1px solid gray;
    background-color: whitesmoke;
    min-width: 20%;
    margin: 10px;
}
.col-sm:hover{
    border-radius: 5px;
    box-shadow: 1px 5px 8px 10px #7a7979;
    transition: all .75s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}
